<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="True" fixedTopGap="64" fixedBottomGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item href="https://www.linkedin.com/in/panzaghor/" target="_blank">
                <img src="assets/images/linkedin.png" id="menu">
            </a>
            <a mat-list-item href="https://www.reddit.com/user/panzaghor" target="_blank">
                <img src="assets/images/reddit.png" id="menu">
            </a>
            <a mat-list-item href="https://steamcommunity.com/id/panzaghor" target="_blank">
                <img src="assets/images/steam.png" id="menu">
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>