<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="assets/images/wink.png">
        </a>
        </span>
        <span class="title-group">
            <a>
                <i class="material-icons">home</i> 
                Bem-vindo
            </a>
        </span>
        <span routerLink="/login" class="logOut">
            <button mat-raised-button color="primary"><mat-icon>input</mat-icon>
                Log out</button>
        </span>
</mat-toolbar>